

@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');



$primary-color: #f8fafc;
body{
    font-family: karla;
    background-color: #f8fafc;
    color: $primary-color;
}
